/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

#colorbox {
  overflow: visible;
}

#cboxWrapper {
  max-width: none;
  overflow: visible;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #09262c;
  opacity: 0.8;
}

#colorbox {
  outline: 0;
}

#cboxContent {
  margin-top: 20px;
  border: 1px solid #495a5d;
  padding: 15px;
}

.cboxIframe {
  background: #fff;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxLoadedContent {
  background: none;

}

.no-title {
  #cboxTitle {
    display: none !important;
  }
}

#cboxTitle {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  padding: 0;
  margin: 0;


}

.title-wrapper {
  color: #f8f7f5;
  background-color: #0c272e;
  background: rgba(8, 37, 44, 0.9);
  padding: 20px 40px;
  text-align: left;
  @media (max-width: 500px) {
    padding: 5px 10px;
  }

  .title {
    font-size: 29px;
    text-transform: uppercase;
    @media (max-width: 500px) {
       font-size: 20px;
    }
  }

  .description {
    .gotham;
    font-size: 20px;
    @media (max-width: 500px) {
       font-size: 16px;
    }
  }
}

#cboxCurrent {
  display: none;
}

#cboxLoadingGraphic {
  background: url(../images/ajax-loader.gif) no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
  text-align: left;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

#cboxSlideshow {
  position: absolute;
  top: -20px;
  right: 90px;
  color: #fff;
}

#cboxPrevious {
  position: absolute;
  top: 50%;
  left: -24px;
  transform: translate(0, -50%);
  background: url(../images/gallery-arrows.png) no-repeat top left;
  width: 48px;
  height: 30px;
  text-indent: -9999px;
  @media (max-width: 500px){
    left: -10px;
  }
  &:hover {
    background-position: bottom left;
  }
}


#cboxNext {
  position: absolute;
  top: 50%;
  right: -24px;
  transform: translate(0, -50%);
  background: url(../images/gallery-arrows.png) no-repeat top right;
  width: 48px;
  height: 30px;
  text-indent: -9999px;
  @media (max-width: 500px){
    right: -10px;
  }

  &:hover {
    background-position: bottom right;
  }
}

#cboxClose {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  background: url(../images/colorbox-close.png) no-repeat center center;
  text-align: left;
  text-indent: -9999px;
  background-color: #a3d284;
  width: 51px;
  height: 44px;

  &:hover {
    background-color: darken(#a3d284, 10%);
  }
}
