#footer {
  padding: 0 15px;
  max-width: 100%;
  overflow: hidden;
  background-color: #e4e6e6;
  background: rgba(59, 82, 87, 0.1);

  .footer-content {
    width: 100%;
    margin: 0 auto;
    max-width: 1466px;
    padding: 70px 0 40px 0;
    text-align: left;
  }
}

.logo-footer-wrapper {
  max-width: 256px;
  width: 100%;

  > a {
    display: block;
    text-align: left;
    text-indent: -10000px;
    background: url(../images/logo-footer.png) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 31.25%;

  }

}


.footer-nav {
  display: table;
  width: 100%;
  margin-bottom: 40px;

  &-block {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    border-left: 2px solid #d9dddf;
    padding: 0 50px;
    font-size: 18px;

    &:first-child {
      width: 40%;
      border-left: none;
      padding-left: 0;
    }
  }

  &-links {
    padding: 0;
    margin: 0 0 1em 0;
    list-style: none;
    @media (max-width: 767px) {
        text-align: center;
    }

    li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: #3b5257;
        text-transform: uppercase;

        &:hover {
          color: lighten(#3b5257, 10%);
        }
      }
    }
  }

  &-social-links {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;

      a {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 1px solid #b0b1a6;
        color: #b0b1a6;
        line-height: 32px;
        text-align: center;

        &:hover {
          color: @text-color;
          border-color: @text-color;
        }
      }
    }
  }
}

.address-block {
  .title {
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .desc {
    color: #797a71;
  }
}

.social-block {
  .title {
    text-transform: uppercase;
    margin-bottom: 1em;
  }
}

.footer-site-links {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid #4a4b47;
    font-size: 16px;
    line-height: 1;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }

    a {
      color: #4a4b47;

      &:hover {
        color: lighten(#4a4b47, 10%);
      }
    }

  }
}

.copyright {
  color: #4a4b47;
  text-align: right;
  font-size: 16px;
  margin-top: 40px;
  margin-right: 40px;
  @media (max-width: 767px) {
        margin: 20px auto;
        text-align: center;
        font-size: 14px;
  }
}

.new-footer {
  &__logo {
    margin-top: 80px;
    @media (max-width: 767px) {
          margin: 20px auto;
    }
  }
  &__list {
    display: inline-block;
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    &--rigth {
      float: right;
      margin-right: 20px;
      @media (max-width: 767px) {
          float: none;
      }
    }
    @media (max-width: 767px) {
        display: block;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 13px;
    }
  }
  &--border {
    border-right: 2px solid #d9dddf;
    margin-top: 84px;
    @media (max-width: 767px) {
        border: none;
        margin-top: 0;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      border: none;
    }
    &-l {
      margin-top: 84px;
      border-left: 2px solid #d9dddf;
      min-height: 131px;
      @media (max-width: 767px) {
          border: none;
          margin-top: 0;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        margin-top: 50px;
      }
    }
  }
  &__title {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 30px;
    color: #333331;
    @media (max-width: 767px) {
        margin-bottom: 10px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 13px;
    }
    &--margin {
      margin-top: 84px;
      text-align: center;
      @media (max-width: 767px) {
          margin-top: 0;
          border-top: 2px solid #d9dddf;
          text-align: center;
          padding-top: 20px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        margin-top: 74px;
      }
    }
    &--follow {
      padding-top: 24px;
      @media (min-width: 768px) and (max-width: 991px) {
        margin-right: 18%;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        margin-right: 38%;
      }
      @media (min-width: 1200px) {
        margin-right: 18%;
      }
    }
  }
  &--padding {
    padding-right: 0;
    @media (min-width: 991px) and (max-width: 1199px) {
      padding: 0 10px;
    }
  }
  &__social {
    @media (min-width: 991px) and (max-width: 1199px) {
      padding: 0;
    }
    &--small {
      @media (max-width: 767px) {
        border-top: 2px solid #d9dddf;
        text-align: center;
        margin-top: 20px;
      }
    }
  }
  &__adr-link {
    text-align: left;
    color: #797a71;
    font-size: 18px;
    display: block;
    @media (max-width: 767px) {
        text-align: center;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 13px;
    }
    &:hover {
      color: #506f75;
    }
  }
  &--text-align {
    text-align: left;
    white-space: nowrap;
    @media (min-width: 768px) and (max-width: 991px) {
      max-width: 208px;
      margin-left: 26%;
    }
    @media (min-width: 991px) and (max-width: 1045px) {
      max-width: 208px;
      margin-left: 3%;
    }
    @media (min-width: 1046px) and (max-width: 1199px) {
      max-width: 208px;
      margin-left: 6%;
    }
    @media (min-width: 1200px) and (max-width: 1250px) {
      max-width: 208px;
      margin-left: 18%;
    }
    @media (min-width: 1251px) and (max-width: 1315px) {
      max-width: 208px;
      margin-left: 20%;
    }
    @media (min-width: 1316px) and (max-width: 1440px) {
      max-width: 208px;
      margin-left: 22%;
    }
    @media (min-width: 1441px)  {
      max-width: 208px;
      margin-left: 23%;
    }
  }

&__site-links {    list-style: none;
    margin-top: 40px;
    @media (max-width: 767px) {
        margin-top: 0;
        padding: 0;
    }
    > li {
      display: inline-block;
      > a {
        color: #4a4b47;
        margin-right: 24px;
        @media (max-width: 767px) {
            margin-right: 0;
        }
      }
    }
    &--last {
      margin-left: 24px;
      @media (max-width: 767px) {
          margin-left: 0;
      }
    }
  }
}
