.section-location-map {
  padding: 0;

  .section-content {
    max-width: none;
  }

}

.location-map {
  height: 680px;
  position: relative;
  z-index: 1;
}

.tab-pane {
  .location-map {
    height: 860px;
  }
}

.map-wrapper {
  position: relative;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 32px;
    bottom: 32px;
    background: #000;
    width: 3px;
  }

  &:before {
    left: 32px;
  }

  &:after {
    right: 32px;
  }

  .map-container {
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      left: 32px;
      right: 32px;
      background: rgba(0, 0, 0, 0.4);
      height: 35px;
    }

    &:before {
      top: 0;
      border-bottom: 3px solid #000000;
    }

    &:after {
      bottom: 0;
      border-top: 3px solid #000000;
    }
  }

  .map-inner {
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      width: 32px;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

  }

}

.location-tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  .clearfix;

  li {
    width: 50%;
    float: left;

    a {
      text-align: left;
      display: block;
      padding: 15px 90px 10px 90px;
      font-size: 32px;
      text-transform: uppercase;
      color: #7b878a;
      background: #e4e6e7 url(../images/map-tab-arrow.png) 90% 50% no-repeat;
      text-decoration: none;
      @media (max-width: 767px) {
        background-size: 15px 10px;
        padding: 10px 40px 5px 10px;
        font-size: 24px;
        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
    }

    &.active {
      a {
        color: #ffffff;
        background: #a3d283 url(../images/map-tab-arrow-active.png) 90% 50% no-repeat;
        @media (max-width: 767px) {
          background-size: 10px 15px;
        }
      }
    }
  }
}

#zoomControls {
  bottom: 50px;
  right: 50px;
}

.proximity-map{
  position: relative;
  overflow: scroll;
}
.prox-box{
  .epicenter{
    position: absolute;
    top: 188px;
    left: 1172px;
    max-width: 150px;
    z-index: 1;
  }
  .item{
    display: none;
  }
  .shop-ico{
    background: url('../images/icons/shop.png') no-repeat;
    display: block;
    &.sh1{
      top: 311px;
      left: 1087px;
    }
    &.sh2{
      top: 359px;
      left: 1193px;
    }
    &.sh3{
      top: 337px;
      left: 1297px;
    }
    &.sh4{
      top: 519px;
      left: 973px;
    }
    &.sh5{
      top: 502px;
      left: 575px;
    }
    &.sh6{
      top: 147px;
      left: 304px;
    }
  }
  .market-ico{
    background: url('../images/icons/market.png') no-repeat;
    top: 0;
    left: 0;
    &.mk1{
      top: 340px;
      left: 1250px;
    }
    &.mk2{
      top: 388px;
      left: 1201px;
    }
    &.mk3{
      top: 420px;
      left: 1133px;
    }
    &.mk4{
      top: 485px;
      left: 985px;
    }
  }
  .children-ico{
    background: url('../images/icons/children.png') no-repeat;
    &.ch1{
      top: 481px;
      left: 1027px;
    }
    &.ch2{
      top: 481px;
      left: 1102px;
    }
    &.ch3{
      top: 525px;
      left: 1175px;
    }
    &.ch4{
      top: 450px;
      left: 1235px;
    }
  }
  .metro-ico{
    background: url('../images/icons/metro1.png') no-repeat;
    &.mt1{
      top: 192px;
      left: 477px;
    }
    &.mt2{
      top: 230px;
      left: 533px;
    }
    &.mt3{
      top: 275px;
      left: 595px;
    }
    &.mt4{
      top: 370px;
      left: 830px;
    }
    &.mt5{
      top: 480px;
      left: 370px;
    }
  }
  .school-ico{
    background: url('../images/icons/school.png') no-repeat;
    &.sc1{
      top: 310px;
      left: 1272px;
    }
    &.sc2{
      top: 475px;
      left: 1132px;
    }
    &.sc3{
      top: 577px;
      left: 1126px;
    }
    &.sc4{
      top: 545px;
      left: 675px;
    }
    &.sc5{
      top: 470px;
      left: 615px;
    }
  }
  .restaurant-ico{
    background: url('../images/icons/restaurant.png') no-repeat;
    &.res1{
      top: 332px;
      left: 1201px;
    }
    &.res2{
      top: 310px;
      left: 1058px;
    }
    &.res3{
      top: 485px;
      left: 957px;
    }
    &.res4{
      top: 400px;
      left: 867px;
    }
    &.res5{
      top: 356px;
      left: 773px;
    }
    &.res6{
      top: 425px;
      left: 473px;
    }
  }
  .hospital-ico{
    background: url('../images/icons/hosp.png') no-repeat;
    &.hos1{
      top: 359px;
      left: 1218px;
    }
    &.hos2{
      top: 452px;
      left: 1199px;
    }
    &.hos3{
      top: 450px;
      left: 1118px;
    }
    &.hos4{
      top: 385px;
      left: 215px;
    }
  }
  .mosque-ico{
    background: url('../images/icons/mosque.png') no-repeat;
    &.mq1{
      top: 361px;
      left: 1075px;
    }
    &.mq2{
      top: 727px;
      left: 1273px;
    }
    &.mq3{
      top: 770px;
      left: 1088px;
    }
    &.mq4{
      top: 437px;
      left: 757px;
    }
  }
  .act-ico{
    background: url('../images/icons/act.png') no-repeat;
    &.act1{
      top: 500px;
      left: 1367px;
    }
    &.act2{
      top: 305px;
      left: 1547px;
    }
    &.act3{
      top: 480px;
      left: 1489px;
    }
    &.act4{
      top: 455px;
      left: 1527px;
    }
    &.act5{
      top: 517px;
      left: 1507px;
    }
    &.act6{
      top: 427px;
      left: 1587px;
    }
    &.act7{
      top: 663px;
      left: 1480px;
    }
    &.act8{
      top: 715px;
      left: 1637px;
    }
    &.act9{
      top: 830px;
      left: 1400px;
    }
    &.act10{
      top: 790px;
      left: 1052px;
    }
    &.act11{
      top: 267px;
      left: 341px;
    }
  }
  .item{
    background-size: contain;
    position: absolute;
    height: 28px;
    width: 28px;
    &.active{
      display: block;
    }
    .item-txt{
      display: block;
      font-family: 'Gotham', sans-serif;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      width: 200px;
      margin-left: -86px;
      margin-top: 30px;
    }
  }
}
.prox-thumb{
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 59px;
  left: 18.5%;
  width: 700px;
  padding: 12px 17px 12px 15px;
  border-radius: 8px;
  .space-between{
    display: flex;
    justify-content: space-between;
  }
  .space-around{
    display: flex;
    justify-content: space-around;
  }
  .item{
    color: #071e32;
    cursor: pointer;
    font-family: 'Gotham', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 11px;
    letter-spacing: 1px;
    .shop-ico{
      background: url('../images/icons/shop.png') no-repeat;
    }
    .market-ico{
      background: url('../images/icons/market.png') no-repeat;
    }
    .children-ico{
      background: url('../images/icons/children.png') no-repeat;
    }
    .metro-ico{
      background: url('../images/icons/metro.png') no-repeat;
    }
    .school-ico{
      background: url('../images/icons/school.png') no-repeat;
    }
    .restaurant-ico{
      background: url('../images/icons/restaurant.png') no-repeat;
    }
    .hospital-ico{
      background: url('../images/icons/hosp.png') no-repeat;
    }
    .mosque-ico{
      background: url('../images/icons/mosque.png') no-repeat;
    }
    .act-ico{
      background: url('../images/icons/act.png') no-repeat;
    }
    &.active{
      color: #a0d185;
      .shop-ico{
        background: url('../images/icons/shopg.png') no-repeat;
      }
      .market-ico{
        background: url('../images/icons/marketg.png') no-repeat;
      }
      .children-ico{
        background: url('../images/icons/childreng.png') no-repeat;
      }
      .metro-ico{
        background: url('../images/icons/metrog.png') no-repeat;
      }
      .school-ico{
        background: url('../images/icons/schoolg.png') no-repeat;
      }
      .restaurant-ico{
        background: url('../images/icons/restaurantg.png') no-repeat;
      }
      .hospital-ico{
        background: url('../images/icons/hospg.png') no-repeat;
      }
      .mosque-ico{
        background: url('../images/icons/mosqueg.png') no-repeat;
      }
      .act-ico{
        background: url('../images/icons/actg.png') no-repeat;
      }
      .th-ico{
        background-size: contain;
      }
    }
    .th-ico{
        background-size: contain;
        display: inline-block;
        margin-right: 6px;
        height: 28px;
        vertical-align: middle;
        width: 28px;
      }
  }
  .time-thumb{
    border-top: 2px solid #768189;
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 11px 80px 0 72px;
    .item{
      padding-bottom: 0;
      .time-ico{
        background: url('../images/icons/car.png') no-repeat;
        background-size: contain;
        display: inline-block;
        margin-right: 6px;
        height: 22px;
        vertical-align: middle;
        width: 22px;
      }
      &.active{
        .time-ico{
          background: url('../images/icons/carg.png') no-repeat;
          background-size: contain;
        }
      }
    }
  }
}