.section-highlights {
  background-color: #ffffff;

  .section-container {
    padding: 180px 0 90px 0;
  }

  .section-content {
    text-align: left;
  }

  .section-title {
    text-transform: uppercase;
    margin: 0 0 1em 0;
    font-size: 42px;
    color: #3b5256;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: baseline;
      position: relative;
      top: 5px;
      background: url(../images/hightlights-title-bg.png) 0 0 no-repeat;
      -webkit-background-size: 73px 43px;
      background-size: 73px 43px;
      width: 73px;
      height: 43px;
      margin-right: 20px;
    }
  }

  .section-description {
    font-size: 40px;
    color: #a2d183;
    max-width: 520px;
    line-height: 1.2;
  }
}


/*.highlights-list {
  .caption {
    color: #ffffff;
    font-size: 19px;
    padding: 20px 22px;
    display: block;
    background-color: #08252c;
    background: rgba(6, 37, 44, 0.9);
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
  li {
    float: left;
    margin: 0 58px 50px 0;
    position: relative;
    z-index: 2;
    display: block;

    &:nth-child(2n-1) {
      clear: left;
      top: -65px;    }

    &:nth-child(2n) {
      margin-right: 0;
    }


    &:before {
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      z-index: 2;
      content: '';
      display: block;
      border: 1px solid rgba(255, 255, 255, 0.4);
    }

    img {
      position: relative;
      z-index: 1;
    }

    .caption {
      color: #ffffff;
      font-size: 19px;
      padding: 20px 22px;
      display: block;
      background-color: #08252c;
      background: rgba(6, 37, 44, 0.9);
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover {
      .caption {
        opacity: 1;
      }
    }

  }
}
*/

.highlights {
  &--bg {
    background-color: #fff;
  }
  &__title {
    .cochin;
    font-size: 41px;
    color: #3b5256;
    margin-top: 170px;
    position: relative;
    margin-left: 97px;
    margin-bottom: 65px;
    text-align: left;
    @media (max-width: 767px) {
        margin: 20px 0;
        font-size: 36px;
    }
    @media (min-width: 768px) and (max-width: 992px) {
        margin: 30px 85px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 36px;
        margin-bottom: 30px;
    }
    &:before {
      content: url(../../images/small_branch.png);
      background-repeat: no-repeat;
      z-index: 100000;
      position: absolute;
      left: -93px;
      top: 2px;
      @media (max-width: 767px) {
          display: none;
      }
      @media (min-width: 768px) and (max-width: 811px) {
        left: -26%;
      }
      @media (min-width: 812px) and (max-width: 991px) {
        left: -80px;
      }

    }
  }
  &__desc {
    color: #a2d183;
    font-size: 39px;
    text-align: left;
    margin-bottom: 270px;
    @media (max-width: 767px) {
        margin-bottom: 30px;
        font-size: 30px;
    }
    @media (min-width: 768px) and (max-width: 992px) {
        margin-bottom: 50px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 32px;
        margin-bottom: 300px;
    }
  }
  &__wrap-img {
    margin-top: 120px;
    position: relative;
    margin-bottom: 140px;
    @media (max-width: 767px) {
        margin: 0 auto;
        min-height: 400px;
        width: 290px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        margin-top: 0;
        min-height: 570px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 120px;
      min-height: 570px;
    }
  }
  &__border {
    position: absolute;
    height: 380px;
    border: 8px solid #e1e5e5;
    width: 300px;
    left: 25%;
    top: 110px;
    @media (max-width: 767px) {
      width: 155px;
      left: 24%;
      height: 155px;
    }
  }
  &__img-1 {
    position: absolute;
    top: 0px;
    left: 50px;
    z-index: 2;
    @media (max-width: 767px) {
        height: 135px;
        left: 0;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        left: 0;
    }
    &:before {
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      z-index: 2;
      content: ' s';
      display: block;
      border: 1px solid rgba(255, 255, 255, 0.4);
    }
  }
  &__img-2 {
    position: absolute;
    top: 65px;
    right: 77px;
    z-index: 2;
    @media (max-width: 767px) {
        height: 135px;
        right: 0;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        right: 0;
    }
  }
  &__img-3 {
    position: absolute;
    left: 50px;
    top: 310px;
    z-index: 2;
    @media (max-width: 767px) {
        height: 135px;
        top: 165px;
        left: 0;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        left: 0;
    }
  }
  &__img-4 {
    position: absolute;
    top: 373px;
    right: 77px;
    z-index: 2;
    @media (max-width: 767px) {
        height: 135px;
        top: 231px;
        right: 0;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        right: 0;
    }
  }
  &--my-padding {
    padding: 0 !important;
  }
}

.highlights-list-wrapper {
  position: relative;
  margin-top: 140px;
  &:after {
    content: '';
    z-index: 1;
    top: 50%;
    left: 50%;
    position: absolute;
    display: block;
    transform: translate(-50%, -60%);
    width: 303px;
    height: 394px;
    border: 8px solid #e1e5e5;
    @media (max-width: 767px) {
      top: 39%;
      height: 180px;
      width: 185px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      top: 39%;
      left: 44%;
      height: 249px;
      width: 241px;
    }
  }
  @media (max-width: 767px) {
    max-width: 320px;
    margin: 80px auto;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    width: 400px;
    margin: 80px auto;
  }
}
.highlights-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: 2;
  .clearfix;


  li {
    float: left;
    margin: 0 58px 50px 0;
    position: relative;
    z-index: 2;
    display: block;
    @media (max-width: 767px) {
      margin: 0 24px 34px 0;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      margin: 0 27px 34px 0;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      margin: 0 37px 34px 0;
    }
    &:nth-child(2n-1) {
      clear: left;
      top: -65px;    }

    &:nth-child(2n) {
      margin-right: 0;
    }


    &:before {
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      z-index: 2;
      content: '';
      display: block;
      border: 1px solid rgba(255, 255, 255, 0.4);
    }

    img {
      position: relative;
      z-index: 1;
      @media (max-width: 767px) {
        height: 135px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        height: 190px;
      }
    }

    .caption {
      color: #ffffff;
      font-size: 19px;
      padding: 20px 22px;
      display: block;
      background-color: #08252c;
      background: rgba(6, 37, 44, 0.9);
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover {
      .caption {
        opacity: 1;
      }
    }

  }
}
