.section-search-form {

  background: #f4f4f6 url(../images/section-search-bg.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  .section-container {
    padding: 110px 0 130px;
    @media (max-width: 767px) {
        padding: 70px 0 100px;
    }
  }

  .section-content {
    max-width: 1240px;
  }

  .section-title {
    font-size: 42px;
    text-transform: uppercase;
    line-height: 1;
    padding-top: 100px;
    margin: 0 0 40px 0;
    position: relative;
    .cochin;
    @media (max-width: 767px) {
        font-size: 36px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: #a2d183 url(../images/icon-search.png) 50% 50% no-repeat;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      @media (max-width: 767px) {
        top: 25px;
      }
    }
  }

  // for homepage
  &-hp {

  }

}
.my-search {
  &__range-wrap {
    background-color: #08252c;
    margin-bottom: 40px;
    height: 80px;
    @media (max-width: 992px) {
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    @media (max-width: 767px) {
        height: auto;
        padding: 5px;
    }
  }
  &__btn {
    .cochin;
  }
}

.range_wrap {
  &__btn {
    border: 1px solid #31484e;
    display: inline-block;
    .cochin;
    font-size: 19px;
    color: #a2d183;
    padding: 10px 0;
    width: 15%;
    margin-top: 15px;
    @media (max-width: 788px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; 
      span{
        flex-basis: 100%;
      }
      .first{
        order: 1;
      }
    }
    @media (max-width: 992px) {
        margin-top: 0;
    }
    @media (max-width: 500px) {
      font-size: 13px;
    }
  }
  &__slider {
    display: inline-block;
    width: 60%;
    margin: 0 25px;
    @media (max-width: 992px) {
      height: 28px;
      margin: 0 10px;
      flex: 1 1 auto;
    }
  }
}
