.section-hero {
  height: 100vh;
  min-height: 100vh;
  display: table;
  padding: 0 0 0 0;
  @media (max-width: 992px){
    z-index: 1;
  }
  .section-container {
    display: table-cell;
    vertical-align: middle;
    padding: 200px 0;
    @media (max-width: 767px) {
      padding: 0;
    }
  }

  .section-content {
    display: inline-block;
    background: rgba(0, 0, 0, 0.251);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.24);
    @media (max-width: 767px) {
      padding: 0;
    }

    .section-title {
      font-size: 32px;
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 25px;
      -webkit-text-stroke: .002em;
      -webkit-text-stroke: #f5f5f5 1px;
      text-shadow: rgba(0, 0, 0, 0.075) -1px 1px 3px;
      font-weight: 100;
      -webkit-text-fill-color: white;
      .gotham;
      @media (max-width: 767px) {
        font-size: 23px;
      }

      div {
        .cochin;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        color: #fff;
        -webkit-text-fill-color: hsla(42, 40%, 95%, 1);
        -webkit-text-stroke-width: .004em;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.76);
        font-size: 65px;
        position: relative;
        padding: 25px 0 15px 0;
        margin-top: 25px;
        @media (max-width: 767px) {
          font-size: 7vw;
        }
      }
    }
  }

  .section-description {
    .gotham;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-shadow: rgba(204, 204, 204, 0.2) -1px 1px 3px;
    font-weight: 100;
    -webkit-text-stroke: 0.022em;
  }

  .hero-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9da8ab;
    padding: 0 15px;
    @media (max-width: 500px) {
      padding: 0;
      width: 100vw;
    }

    &-content {
      .clearfix;
      width: 100%;
      max-width: 1366px;
      margin: 0 auto;
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }

    .breadcrumbs {
      float: left;
      padding-top: 12px;
      @media (max-width: 767px) {
        float: none;
      }
      > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;

        li {
          display: inline-block;
          vertical-align: middle;
          font-size: 13px;
          line-height: 1;
          padding-right: 20px;
          margin-right: 20px;
          border-right: 1px solid #fff;
          text-transform: uppercase;
          color: #ffffff;

          &:last-child {
            margin-right: 0;
            padding-right: 0;
            border-right: none;
          }

          a {
            color: #ffffff;

            &:hover {
              color: #ffffff;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .controls {
      float: right;
      @media (max-width: 992px) {
        float: none;
        margin-bottom: -45px;
        padding-top: 45px;
      }
      @media (max-width: 768px) {
        padding-top: 0;
        font-size: 0;
      }
      @media (max-width: 650px) {
        padding-top: 10px;
      }
    }
  }
}

.section-hero-hp {
  .section-background {

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    img {
      width: auto;
      min-width: 120vw;
      min-height: 100%;
      position: absolute;
      transform: translate3d(0px, 0px, -1px) scaleZ(1);
      left: -10%;
      right: 0;
      margin: auto;

      @media (max-width: 767px) {
        max-height: 100%;
      }
    }
  }
  .section-container {
    // background: url(../images/hero-hp.jpg) 50% 50% no-repeat;
    // -webkit-background-size: cover;
    // background-size: cover;
  }

  .section-content {
    @media (max-width: 767px) {
        padding: 28vw 0 0 0;
        margin-top: 120px !important;
        margin-bottom: 40px;
    }
    width: 100%;
    max-width: 840px;
    padding: 80px;

  }


}

.section-hero-location {

  .section-container {
    background: url(../images/hero-location.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .section-content {
    border: none;
  }

}
.section-hero-leasenow {

  .section-container {
    background: url(../images/hero-leasenow.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .section-content {
    border: none;

    .section-title {
      div {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

}

.section-hero-thevillas {

  .section-container {
    background: url(../images/hero-thevillas.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .section-content {
    border: none;

    .section-title {
      div {
        //letter-spacing: 2px;
      }
    }
  }
}

.section-hero-gallery {

  .section-container {
    background: url(../images/hero-gallery.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .section-content {
    border: none;

    .section-title {
      div {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
.section-hero-urban {

  .section-container {
    background: url(../images/hero-urban.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .section-content {
    border: none;

    .section-title {
      div {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

.section-hero-contact {

  .section-container {
    background: url(../images/hero-gallery.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50% !important;
  }

  .section-content {
    border: none;

    .section-title {
      div {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
.section-hero-detail {

  .section-container {
    -webkit-background-size: cover;
    background-size: cover;
  }

  .section-content {
    border: none;
    width: 100%;
    max-width: 1350px;
    padding: 50px;

    .section-title {
      margin: 0;

      div {
        padding-left: 30px;
        padding-right: 30px;
        margin: 0;
        width: 100%;
      }
    }
  }
}

.my-hero {
  &--padding {
    @media (max-width: 767px) {
      padding: 0 !important;
    }
  }
}

.my-urban {
  &__title {
    @media (max-width: 767px) {
      height: 230px;
      margin-top: 182px;
    }
  }
}
