.section-items-list {

  background: #f8f7f5 url(../images/bg-pattern.jpg) 50% 0 repeat;

  .section-container {
    padding: 70px 0;
  }

  .section-content {
    max-width: 1240px;
    text-align: left;
  }
  
}

.list-item-wrapper {
  padding-bottom: 100px;
  margin-bottom: 90px;
  border-bottom: 2px solid #bcc0c3;
  &:first-child{
    @media (max-width: 992px) {
      margin-top: 70px;
    }
  }
  @media (max-width: 767px) {
    display: inline-block;
  }


  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
}

.list-item {
  padding: 25px 80px 25px 0;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    left: 19%;
    border: 1px solid #a8d48b;
    @media (max-width: 767px) {
      border: none;
    }
  }

  > * {
    position: relative;
    z-index: 2;
  }

  &-inner {
    .clearfix;

    .img {
      width: 497px;
      position: relative;
      float: left;
      @media (max-width: 767px) {
        width: 295px;
        display: block;
        margin-bottom: 20px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        width: 300px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        width: 400px;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        border: 1px solid #ffffff;
      }

      img {
        max-width: 100%;
        display: block;
        position: relative;
        z-index: 1;
      }
    }

    .content {
      margin-left: 578px;
      text-align: left;
      @media (max-width: 767px) {
        display: block;
        margin-left: 0;
        width: 29rem;
        margin-top: 20px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        margin-left: 350px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        margin-left: 440px;
      }
      .header {
        margin: 20px 0;

        .title {
          font-size: 36px;
          line-height: 1.1;
          @media (max-width: 767px) {
            font-size: 25px;
            margin-top: 20px;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            font-size: 18px;
          }
          @media (min-width: 992px) and (max-width: 1199px) {
            font-size: 27px;
            text-align: left;
          }

          span {
            font-size: 24px;

            &:before {
              content: '-';
              display: inline;
              color: #a2d183;
            }
          }
        }
      }

      .price {
        font-size: 37px;
        color: #a2d183;
        line-height: 1;
        @media (max-width: 767px) {
          font-size: 25px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 17px;
          margin-bottom: 10px;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
          font-size: 29px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .buttons {
    position: absolute;
    bottom: 0;
    right: 45px;
    transform: translate(0, 50%);
    @media (max-width: 767px) {
      bottom: -35px;
      right: 0;
      left: 0;
    }

    .button {
      min-width: 165px;
      margin-left: 2px;
      @media (max-width: 767px) {
        min-width: 0;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        min-width: 0;
        font-size: 13px !important;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        min-width: 100px;
        font-size: 15px !important;
      }
    }
  }
}

.villa-options-list {
  padding: 25px 0;
  margin: 0 0 40px 0;
  border-top: 1px solid #d1d5d6;
  border-bottom: 1px solid #d1d5d6;
  list-style: none;
  white-space: nowrap;


  @media (min-width: 768px) and (max-width: 991px) {
    padding: 7px 0;
    margin: 0 0 23px 0;
  }

  li {
    font-size: 22px;
    color: #3b5256;
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #c8cdce;
    white-space: nowrap;
    line-height: 38px;
    > span {
      @media (max-width: 767px) {
        margin-top: 10px;
        display: block;
      }
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      font-size: 14px;
    }

    span {
      line-height: 1.1;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }


    &.bedroom {
      &:before {

        background: url(../images/icon-bedroom.png) 0 0 no-repeat;
        width: 48px;
        height: 30px;
      }
    }
    &.bathroom {
      &:before {

        background: url(../images/icon-bathroom.png) 0 0 no-repeat;
        width: 45px;
        height: 38px;
      }
    }
    &.space {
      &:before {

        background: url(../images/icon-space.png) 0 0 no-repeat;
        width: 35px;
        height: 35px;
      }
    }
  }
}

.badroom--margin {
  margin-bottom: 50px !important;
}

.bedroom--main {
  > span {
    @media (min-width: 768px) and (max-width: 1199px) {
      display: block;
      margin-top: 10px;
    }
  }
}

.villa-options-list--main {
  @media (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
  }
}

.my-list-item {
  @media (max-width: 767px) {
    padding: 0;
  }
}

.m-villa__btn  {
  display: inline-block;
  > .button-call {
    &:before {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  > .button-email {
    &:before {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  > .button-item {
    @media (max-width: 767px) {
      padding: 18px 11px 14px 9px;
      font-size: 18px;
    }
  }
}

.villa__line {
  color: #bbc0c0;
  margin: 0;
}