@keyframes pulse {
  0%,
  100% {
    background-color: red;
  }

  50% {
    background-color: orange;
  }
}
@keyframes logo-fade-in {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;

  }

}

@keyframes hero-animation {
  0%{
    transform: translateX(0) translateY(0);
  }
  40% {
    transform: translateX(50px) translateY(50px);
  }
  60%{
    transform: translateX(50px) translateY(100px);
  }
  100% {
    transform: translateX(-50px) translateY(-50);
  }
}



.logo-fade-in {
  animation: 2s logo-fade-in;
}

.element {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}


.pan {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}