.welcome {
  &--padding {
    padding: 0;
  }
  &__img {
    background-color: #09262c;
    background-image: url(../../images/detail-welcome-home-1.jpg);
    background-size: cover;
    height: 830px;
    @media (max-width: 992px) {
      height: 530px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    @media (max-width: 767px) {
      height: 330px;
    }
  }
  &--bg {
    background-image: url(../../images/detail-welcome-home-bg.jpg);
    background-repeat: no-repeat;
    height: 1336px;
    @media (max-width: 767px) {
          height: auto;
    }
  }
  &__about {
    font-size: 31px;
    color: #09262c;
    line-height: 41px;
    text-align: initial;
    .cochin;
    @media (min-width: @screen-sm-max) {
      margin-bottom: 40px;
    }
    @media (max-width: 767px) {
          font-size: 25px;
    }
  }
  &__line {
    background-image: url(../../images/line.png);
    height: 2px;
    background-repeat: no-repeat;
    &--rigth {
      background-position-x: 100%;
      margin-top: 56px;
    }
    &--left {
      margin-top: 137px;
      margin-bottom: 56px;
      @media (max-width: 991px) {
            margin-top: 45px;
      }
    }
  }
  &__wrap-letter {
    position: relative;
  }
  &__title {
    font-size: 48px;
  }
  &__my-title {
    font-size: 48px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 136px;
    color: #cdccc6;
    margin-bottom: 85px;
    @media (max-width: 767px) {
          font-size: 26px;
          text-align: center;
          margin-top: 0;
          margin-bottom: 20px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
          margin-top: 0;
          margin-bottom: 20px;
    }
  }
  &__glance {
    font-size: 48px;
    .cochin;
    color: #09262c;
    text-transform: uppercase;
    display: inline-block;
    &--right {
      text-align: right;
      @media (max-width: 767px) {
            text-align: center;
      }
    }
    @media (max-width: 767px) {
          font-size: 26px;
    }
  }
  &__bottom-text {
    font-size: 17px;
    color: #5e6a6c;
    .gotham;
    text-align: left;
    margin-bottom: 30px;
    @media (max-width: 767px) {
          margin-top: 10px;
    }
  }
  &__footer {
    margin-top: 85px;
    @media (max-width: 767px) {
          margin-top: 55px;
    }
  }
}


.letter {
  margin-top: -332px;
  background-color: #fff;
  text-align: justify;
  padding: 20px;
  @media (max-width: 991px) {
        left: auto;
        top: auto;
        margin-bottom: 40px;
        margin-top:20px; 
  }
  &--border {
    border: 1px solid #e8ebeb;
    padding: 0 40px;
    height: 100%;
    @media (max-width: 767px) {
          padding: 0 20px;
    }
  }
  &__title {
    margin-top: 65px;
    font-size: 44px;
    color: #09262c;
    line-height: 0;
    margin-bottom: 50px;
    .cochin;
    @media (max-width: 767px) {
          font-size: 26px;
          margin-top: 40px;
          margin-bottom: 25px;
    }
    @media (min-width: 767px) and (max-width: 1199px) {
          font-size: 40px;
    }
  }
  &__paragraph {
    color: #817f78;
    .gotham;
    margin-bottom: 50px;
    font-size: 17px;
    @media (max-width: 346px) {
          font-size: 15px;
          margin-bottom: 25px;
    }
    @media (min-width: 347px) and (max-width: 379px) {
          font-size: 16px;
          margin-bottom: 25px;
    }
    @media (min-width: 380px) and (max-width: 767px) {
          font-size: 17px;
          margin-bottom: 25px;
    }
  }
  &__arrow {
    text-align: right;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 20px;
    > a {
      color: #08252c;
      text-decoration: none;
      &:hover {
        color: #08252c;
      }
    }
    @media (max-width: 767px) {
        font-size: 15px;
    }
  }
  &__img {
    margin-top: -6px;
    margin-left: 10px;
  }
}

.welcome-slider {
  position: relative;
  border: 1px solid #a9d48c;
  padding: 75px 5% 90px 32%;
  @media (max-width: 767px) {
      padding: 0;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    padding: 75px 10% 90px 10%;
  }
  &__img {
    position: absolute;
    top: -40px;
    @media (max-width: 767px) {
        top: -26px;
        left: 0;
        right: 0;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      top: -35px;
      left: 0;
      right: 0;
    }
  }
  &__title {
    .cochin;
    font-size: 38px;
    color: #a2d183;
    text-align: left;
    line-height: 1.3;
    @media (max-width: 767px) {
      margin-top: 40px;
      padding: 0 10px;
      font-size: 26px;
    }
  }
  &__type {
    .cochin;
    color: #85837a;
    font-size: 25px;
  }
  &__desc {
    color: #918f85;
    font-size: 17px;
    text-align: left;
    margin-top: 45px;
    @media (max-width: 767px) {
        padding: 0 10px;
        margin-top: 15px;
        margin-bottom: 40px;
    }
  }
  &__btn {
    position: absolute;
    bottom: -19px;
    right: 38px;
    height: 38px;
    background-color: #fefefe;
    border: 1px solid #b4d89e;
    width: 185px;
    text-transform: uppercase;
    line-height: 2.4;
  }
}

.welcome-btn {
  display: inline-block;
  > img {
    margin-top: -4px;
  }
}

.featured-villa {
  &--sizing {
    @media (max-width: 991px) {
      margin-bottom: 40px;
    }
    @media (min-width: 1200px) {
      height: 415px;
      margin-left: 159px;
    }
  }
}

.leaflet-container {
    padding: 0;
    position: relative;
    height: 600px;
    .row {
        max-width: 100%;
    }

    @mapHeight: 600px;
    @borderWidth: 30px;
    @borderHeight: 40px;

    .base-border {
        position: absolute;
        display: block;
        z-index: 500;
        content: "";
        background-color: #09262c;
        opacity: 0.5;
    }

    // left
    &:before {
        .base-border;
        left: 0px;
        top: @borderHeight;
        height: (@mapHeight - @borderHeight*2);
        width: @borderWidth;
        border-right: 1px solid #fff;
    }

    // right
    &:after {
        .base-border;
        right: 0px;
        top: @borderHeight;
        height: (@mapHeight - @borderHeight*2);
        width: @borderWidth;
        border-left: 1px solid #fff;
    }

    & .leaflet-map{
        // top
        &:before {
            .base-border;
            left: 0px;
            top: 0px;
            height: @borderHeight;
            width: 100%;
        }

        // bottom
        &:after {
            .base-border;
            left: 0px;
            bottom: 0px;
            height: @borderHeight;
            width: 100%;
        }

    }
    .leaflet-container__controls {
      // left
      &:before {
          .base-border;
          top: 40px;
          right: 30px;
          height: 1px;
           width: calc(100% ~'-' (@borderWidth*2px));
          border-top: 1px solid #fff;
      }

      // right
      &:after {
          .base-border;
          bottom: 40px;
          left: 30px;
          width: calc(100% ~'-' (@borderWidth*2px));
          height: 1px;
          border-top: 1px solid #fff;
      }
    }
}
