@import "_bootstrap";
@import "_variables";

@import "_rangeSlider";
@import "_animating";
@import "_sectionWelcome";
@import "_owl";
@import "_bxslider";
@import "_fotorama";


@text-color: #08252c;
@text-hightlight: #e10000;

@link-color: #39b2f4;
@link-hover-color: darken(#39b2f4, 10%);
@link-active-color: #39b2f4;

@import "-responsive";
@import "-common";
@import "-fonts";

@import "-main";

@import "-header";
@import "-footer";
@import "-buttons";
@import "-tables";
@import "-forms";
@import "-search-form";
@import "-map";
@import "-select";


@import "-section-hero";
@import "-section-search";
@import "-section-highlights";
@import "-section-location-description";
@import "-section-items-list";
@import "-section-villas-list";
@import "-villa-list";
@import "-colorbox";
@import "-section-gallery";
@import "-section-contact";
@import "-section-detail";
@import "-section-urban";
@import "-section-home-about";
@import "-section-location-description";


.carousel-inner {
  /*overflow: visible;*/
}

.welcome--bg{
  .carousel-inner {
    @media (max-width: 991px) {
      padding-bottom: 20px;
    }
  }
}
.mx-auto{
  margin: auto;
}
.w-100{
  width: 100%;
}


.my-parallax {
  background: url("../../images/detail-image-hero.jpg") repeat scroll 0% 0% transparent;
  -webkit-background-size: cover;
  background-size: cover;
}

.parallax-layer {
  position: absolute;
}

.parallax-viewport {
  position: relative; /* relative, absolute, fixed */
  overflow: hidden;

}
#container {
  section {
    pointer-events: auto !important;
  }

}
.container {
  max-width: 100%;
}
button {
  outline: none;
}

.controls {
  @media (min-width: 768px) and (max-width: 991px) {
    width: 100%;
  }
}

.breadcrumbs {
  @media (min-width: 768px) and (max-width: 991px) {
    width: 100%;
  }
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #fff;
}

.nav > li > a:hover, .nav > li > a:hover {
  color: #506f75;
}

#lang-picker {
  @media (max-width: 767px) {
    margin: 0 auto 90px auto;
    padding-top: 12px;
  }
  @media (min-width: 767px) and (max-width: 1100px){
    height: 69px;
  }
}
.select {
  @media (min-width: 767px) and (max-width: 1100px){
    height: 70px;
  }
}


.fotorama__arr--next {
  background: url(../../images/detail-highlight-1.jpg) no-repeat ;
}

.style-green {
  @media (min-width: 992px) {
    /*border-bottom: 1px solid #a7d489;*/
    padding: 0;
    /*border-right: 1px solid #a7d489;*/
    /*border-left: 1px solid #a7d489;*/
    width: 97%;
    margin-left: 1.5%;
    position: relative;
    /*margin: 33px 0 33px 1.5%;*/
    > a {
      padding: 5px 10px;
      border: 1px solid #aed794;
      background: #fff;
      color: #7b7b76;
      position: absolute;
      bottom: -17px;
      right: 35px;
    }
    .slide-btn{
      padding: 12px 32px 7px 18px;
      border: 1px solid #aed794;
      background: #fff;
      color: #7b7b76;
      position: absolute;
      bottom: -18px;
      right: 55px;
      font-size: 13px;
    }
  }
  
}