<div class="villa-item featured">
    <div class="featured new-villa__fe-title">Featured Villa</div>
    <div class="villa-item-inner">
        <a href="5. MUSHRIF_VILLAGE_VILLADETAIL.html">
            <div class="img">
                <img src="./images/villa-featured.jpg" alt="">
            </div>
            <div class="caption">
                3 Bedroom Semi-detached Townhouse with Maid’s Room
            </div>
        </a>
    </div>
</div>
