<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="logo-footer-wrapper new-footer__logo">
            <a href="#">Mushrif Village</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="new-footer--border">
          <div class="new-footer__list">
            <ul class="footer-nav-links">
              <li><a href="/2.%20MUSHRIF_VILLAGE_THEURBANOASIS.html">THE URBAN OASIS</a></li>
              <li><a href="/3.%20MUSHRIF_VILLAGE_LOCATION.html">LOCATION</a></li>
              <li><a href="/4.%20MUSHRIF_VILLAGE_THEVILLAS.html">THE VILLAS</a></li>
            </ul>
          </div>
          <div class="new-footer__list new-footer__list--rigth">
            <ul class="footer-nav-links">
              <li><a href="/6.%20MUSHRIF_VILLAGE_GALLERY.html">GALLERY</a></li>
              <li><a href="7.%20MUSHRIF_VILLAGE_CONTACT.html">CONTACT</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-6 new-footer--padding">
        <div class="">
          <div class="new-footer__title new-footer__title--margin">
              Mushrif Village
          </div>
          <div class="new-footer--text-align">
              <a href="#" class="new-footer__adr-link">Al Khawaneej St,</a>
              <a href="#" class="new-footer__adr-link">Alongside the Mushrif Park,</a>
              <a href="#" class="new-footer__adr-link">Mirdif, Dubai - UAE</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 new-footer__social new-footer__social--small">
        <div class="new-footer--border-l">
          <div class="new-footer__title new-footer__title--follow">Follow us on</div>

          <ul class="footer-nav-social-links">
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-instagram"></a></li>
              <li><a href="#" class="fa fa-google-plus"></a></li>
              <li><a href="#" class="fa fa-youtube"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-6 col-xs-12">
            <ul class="new-footer__site-links">
                <li><a href="#">Site Map</a> |</li>
                <li class="new-footer__site-links--last"><a href="#">Terms of Use</a></li>
            </ul>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
          <div class="copyright">
            © 2017 Ithra Dubai LLC. All rights reserved.
          </div>
        </div>
    </div>
  </div>

</footer>
