<div id="header">
  <div class="header-content">
    <div class="logo-wrapper  animated logo-fade-in fadeIn">
      <a href="1.%20MUSHRIF_VILLAGE_HOMEPAGE.html" class="logo-header">Mushrif Village</a>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed forOpen" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="2.%20MUSHRIF_VILLAGE_THEURBANOASIS.html" class="new-header__link new-header__link--margin">THE URBAN OASIS</a></li>
        <li><a href="3.%20MUSHRIF_VILLAGE_LOCATION.html" class="new-header__link new-header__link--margin">LOCATION</a></li>
        <li><a href="4.%20MUSHRIF_VILLAGE_THEVILLAS.html" class="new-header__link new-header__link--margin">THE VILLAS</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="6.%20MUSHRIF_VILLAGE_GALLERY.html" class="new-header__link new-header__link--margin">GALLERY</a></li>
        <li><a href="7.%20MUSHRIF_VILLAGE_CONTACT.html" class="new-header__link new-header__link--margin">Contact</a></li>
        <li class="lease">
          <a href="8.%20MUSHRIF_VILLAGE_LEASENOW.html" class="new-header__link">
            <span>Lease Now</span>
          </a>
        </li>
        <li id="lang-picker">
            <select class="preaty-select">
                <option>EN</option>
                <option>AR</option>
            </select>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->

    <!--  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainnav" aria-expanded="true">
    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
  </button> -->

</div>
</div>
