<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/parallax.js"></script>
<script src="./assets/js/bootstrap.js"></script>
<script src="./assets/js/jquery.colorbox-min.js"></script>
<script src="./assets/js/owl.carousel.js"></script>
<script src="./assets/js/ion.rangeSlider.js"></script>

<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="./assets/js/jquery.bxslider.js"></script>
<script src="./assets/js/fotorama.js"></script>

<script src="./assets/js/scripts.js"></script>
