
<div class="list-item-wrapper badroom--margin">
    <div class="list-item my-list-item">
        <div class="list-item-inner">
            <div class="img">
                <img src="./images/item1.jpg" alt="">
            </div>
            <div class="content">

                <div class="header">
                    <div class="title">
                        4 Bedroom Semi-detached Villa with Maid’s Room
                        <span>Type A | Corner Unit</span>
                    </div>
                </div>
                <ul class="villa-options-list villa-options-list--main">
                    <li class="bedroom bedroom--main">
                        <span>4 Bedroom</span>
                    </li>
                    <li class="bathroom bedroom--main">
                        <span>2 Bathroom</span>
                    </li>
                    <li class="space bedroom--main">
                        <span>3780 Sq.Ft.</span>
                    </li>
                </ul>

                <div class="price">
                    AED 390,000
                </div>

            </div>
        </div>

        <div class="buttons">
            <div class="m-villa__btn">
                <a href="" class="button button-item button-call ">call</a>
            </div>
            <div class="m-villa__btn">
                <a href="" class="button button-item button-email m-villa__btn">Email</a>
            </div>
            <div class="m-villa__btn">
                <a href="9.%20MUSHRIF_VILLAGE_LEASINGDETAIL.html" class="button button-item m-villa__btn">MORE</a>
            </div>
        </div>

    </div>
</div>

<hr class="villa__line">