<div class="map-wrapper">
    <div class="map-container">
        <div class="map-inner" style="padding:40px">

            <div class="location-map" id="map"></div>

            <script>

                // When you add a marker using a Place instead of a location, the Maps API will
                // automatically add a 'Save to Google Maps' link to any info window associated
                // with that marker.

                var mapStyles = [
                    {
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "padding": "50px",
                                "color": "#f5f5f5"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#616161"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#f5f5f5"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.land_parcel",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#bdbdbd"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#eeeeee"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#757575"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#e5e5e5"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#757575"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#dadada"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#616161"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.line",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#e5e5e5"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.station",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#eeeeee"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#c9c9c9"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {

                                "color": "#9e9e9e"
                            }
                        ]
                    }
                ];

                function initMap() {
                    var minZoomLevel = 15;
                    console.log
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: minZoomLevel,
                        scrollwheel: false,
                        mapTypeControl: true,
                        mapTypeControlOptions: {
                            style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                            position: google.maps.ControlPosition.TOP_CENTER
                        },
                        zoomControl: true,
                        zoomControlOptions: {
                            position: google.maps.ControlPosition.RIGHT_BOTTOM,
                            style: {"color":"red"}

                        },
                        scaleControl: true,
//                        mapTypeControl: false,
//                        scaleControl: false,
//                        zoomControl: false,
//                        navigationControl: false,
//                        streetViewControl: false,
                        center: {lat: 25.232010, lng: 55.435263}
                    });
                    console.log(map)
                    map.setOptions({styles: mapStyles});
                    var image = "assets/images/marker.png"
                    var marker = new google.maps.Marker({
                        map: map,
                        // Define the place with a location, and a query string.
                        place: {
                            location: {lat: 25.232010, lng: 55.435263},
                            query: 'Mushrif Village'

                        },
                        icon: image,
                        // Attributions help users find your site again.
                        attribution: {
                            source: 'Google Maps JavaScript API',
                            webUrl: 'https://developers.google.com/maps/'
                        }
                    });

                    // Construct a new InfoWindow.
                    var infoWindow = new google.maps.InfoWindow({
                        content: 'Mushrif Village'
                    });

                    // Opens the InfoWindow when marker is clicked.
                    marker.addListener('click', function() {
                        infoWindow.open(map, marker);
                    });

                }


            </script>

            <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&signed_in=true&key=AIzaSyDq9CvHjtl3drSLqvrKh0lWJN7h5BUui94" async defer>
            </script>


        </div>
    </div>

</div>
