<div class="map-wrapper">
    <div class="map-container">
        <div class="map-inner">
            <div class="proximity-map">
                
				<div class="prox-box">
					<img src="assets/images/Proximity_map.jpg" class="" alt="">
					<img src="assets/images/icons/mv.png" alt="" class="epicenter">

					<div class="item shop-ico sh1" data-item="shop" data-time="5" data-time2="10" data-time3="15"><span class="item-txt">etihad mall</span></div>
					<div class="item shop-ico sh2" data-item="shop" data-time="5" data-time2="10" data-time3="15"><span class="item-txt">mirdif 35</span></div>
					<div class="item shop-ico sh3" data-item="shop" data-time="5" data-time2="10" data-time3="15"><span class="item-txt">arabian centre</span></div>
					<div class="item shop-ico sh4" data-item="shop" data-time2="10" data-time3="15"><span class="item-txt">city centre mirdiff</span></div>
					<div class="item shop-ico sh5" data-item="shop" data-time3="15"><span class="item-txt">Dubai<br> festival city</span></div>
					<div class="item shop-ico sh6" data-item="shop"><span class="item-txt">Deira city centre</span></div>

					<span class="item market-ico mk1" data-item="market" data-time="5" data-time2="10" data-time3="15"></span>
					<span class="item market-ico mk2" data-item="market" data-time="5" data-time2="10" data-time3="15"></span>
					<span class="item market-ico mk3" data-item="market" data-time="5" data-time2="10" data-time3="15"></span>
					<span class="item market-ico mk4" data-item="market" data-time2="10" data-time3="15"></span>

					<span class="item children-ico ch1" data-item="children" data-time2="10" data-time3="15"></span>
					<span class="item children-ico ch2" data-item="children" data-time2="10" data-time3="15"></span>
					<span class="item children-ico ch3" data-item="children" data-time2="10" data-time3="15"></span>
					<span class="item children-ico ch4" data-item="children" data-time="5" data-time2="10" data-time3="15"></span>

					<span class="item metro-ico mt1" data-item="metro" data-time3="15"></span>
					<span class="item metro-ico mt2" data-item="metro" data-time3="15"></span>
					<span class="item metro-ico mt3" data-item="metro" data-time3="15"></span>
					<span class="item metro-ico mt4" data-item="metro" data-time2="10" data-time3="15"></span>
					<span class="item metro-ico mt5" data-item="metro"></span>

					<span class="item school-ico sc1" data-item="school" data-time="5" data-time2="10" data-time3="15"></span>
					<span class="item school-ico sc2" data-item="school" data-time="5" data-time2="10" data-time3="15"></span>
					<span class="item school-ico sc3" data-item="school" data-time2="10" data-time3="15"></span>
					<span class="item school-ico sc4" data-item="school" data-time3="15"></span>
					<span class="item school-ico sc5" data-item="school" data-time3="15"></span>

					<span class="item restaurant-ico res1" data-item="restaurant" data-time="5" data-time2="10" data-time3="15"></span>
					<span class="item restaurant-ico res2" data-item="restaurant" data-time="5" data-time2="10" data-time3="15"></span>
					<span class="item restaurant-ico res3" data-item="restaurant" data-time2="10" data-time3="15"></span>
					<span class="item restaurant-ico res4" data-item="restaurant" data-time3="15"></span>
					<span class="item restaurant-ico res5" data-item="restaurant" data-time3="15"></span>
					<span class="item restaurant-ico res6" data-item="restaurant" data-time3="15"></span>

					<span class="item hospital-ico hos1" data-item="hospital" data-time="5" data-time2="10" data-time3="15"></span>
					<span class="item hospital-ico hos2" data-item="hospital" data-time="5" data-time2="10" data-time3="15"></span>
					<span class="item hospital-ico hos3" data-item="hospital" data-time="5" data-time2="10" data-time3="15"></span>
					<span class="item hospital-ico hos4" data-item="hospital"></span>

					<span class="item mosque-ico mq1" data-item="mosque" data-time="5" data-time2="10" data-time3="15"></span>
					<span class="item mosque-ico mq2" data-item="mosque" data-time2="10" data-time3="15"></span>
					<span class="item mosque-ico mq3" data-item="mosque" data-time2="10" data-time3="15"></span>
					<span class="item mosque-ico mq4" data-item="mosque" data-time3="15"></span>

					<span class="item act-ico act1" data-item="act" data-time2="10" data-time3="15"></span>
					<span class="item act-ico act2" data-item="act" data-time3="15"></span>
					<span class="item act-ico act3" data-item="act" data-time2="10" data-time3="15"></span>
					<span class="item act-ico act4" data-item="act" data-time2="10" data-time3="15"></span>
					<span class="item act-ico act5" data-item="act" data-time2="10" data-time3="15"></span>
					<span class="item act-ico act6" data-item="act" data-time2="10" data-time3="15"></span>
					<span class="item act-ico act7" data-item="act" data-time3="15"></span>
					<span class="item act-ico act8" data-item="act" data-time3="15"></span>
					<span class="item act-ico act9" data-item="act" data-time3="15"></span>
					<span class="item act-ico act10" data-item="act" data-time3="15"></span>
					<span class="item act-ico act11" data-item="act"></span>
				</div>

                <div class="prox-thumb">
                	<div class="space-between">
	                	<span class="item active" data-item="shop"><span class="th-ico shop-ico"></span>shopping centre</span>
	                	<span class="item" data-item="market"><span class="th-ico market-ico"></span>supermarket</span>
	                	<span class="item" data-item="children"><span class="th-ico children-ico"></span>children's nursery</span>
	                	<span class="item" data-item="metro"><span class="th-ico metro-ico"></span>metro</span>
	                </div>
                	<div class="space-around">
	                	<span class="item" data-item="school"><span class="th-ico school-ico"></span>school</span>
	                	<span class="item" data-item="restaurant"><span class="th-ico restaurant-ico"></span>restaurant</span>
	                	<span class="item" data-item="hospital"><span class="th-ico hospital-ico"></span>hospital</span>
	                	<span class="item" data-item="mosque"><span class="th-ico mosque-ico"></span>mosque</span>
	                	<span class="item" data-item="act"><span class="th-ico act-ico"></span>activities</span>
	                </div>
                	<div class="time-thumb">
                		<span class="item" data-time="5"><span class="time-ico"></span>5 mins</span>
                		<span class="item" data-time="10"><span class="time-ico"></span>10 mins</span>
                		<span class="item" data-time="15"><span class="time-ico"></span>15 mins</span>
                		<span class="item all-th" data-time="20"><span class="time-ico"></span>20 mins</span>
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>
