<div class="search-form-wrapper">
    <div class="row fields-row">
        <div class="col-sm-4">
            <div class="form-group">
                <select name="" id="" class="form-control">
                    <option value="">Property Type</option>
                    <option value="" selected>3 Bedroom Villa</option>
                    <option value="">Townhouse</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <select name="" id="" class="form-control">
                    <option value="" selected>No. of Bedrooms</option>
                    <option value="">2BHK</option>
                    <option value="">3BHK</option>
                    <option value="">4BHK</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <select name="" id="" class="form-control">
                <option value="" selected>Area</option>
            </select>
        </div>
    </div>

    <div class="search-form-title">Annual Rent</div>

    <div class="my-search__range-wrap">
      <div class="range_wrap__btn">
        <span>AED</span> <span>80,000</span>
      </div>
      <div class="range_wrap__slider">
        <input type="text" id="example_id" data-hasgrid="false"
            data-type="double"  name="example_name" value=""
            data-hidefromto="true"
            data-hideminmax="false"  />
      </div>
      <div class="range_wrap__btn for_mobile">
        <span class="first">280,000</span> <span>AED</span>
      </div>
    </div>


    <div class="buttons">
        <button class="button button-dark my-search__btn" tyle="submit">check availability</button>
    </div>


</div>
