<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="villadetail__section-title villadetail__section-title--margin">HIGHLIGHTS</div>
        </div>
    </div>
    <div class="row">
        <div class="detail-highlights">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="">
                    <div class="img">
                        <img src="./images/detail-highlight-1.jpg" alt="">
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            4 spacious
                            <br />bedrooms
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="">
                    <div class="img">
                        <img src="./images/detail-highlight-2.jpg" alt="">
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            3 en-suite bathrooms and a powder room
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="">
                    <div class="img">
                        <img src="./images/detail-highlight-3.jpg" alt="">
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            <span>A total area of</span>
                            3780 sq.ft
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="">
                    <div class="img">
                        <img src="./images/detail-highlight-4.jpg" alt="">

                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            <span>A dedicated enclosed</span>
                            garage for 2 cars
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-sm-12 col-xs-12">
                <div class="">
                    <div class="img">
                        <img src="./images/detail-highlight-5.jpg" alt="">
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            Private outdoor 
                            <br/>area and lawn
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="">
                    <div class="img">
                        <img src="./images/detail-highlight-6.jpg" alt="">
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            x number
                            <span>of balconies with private access</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="">
                    <div class="img">
                        <img src="./images/detail-highlight-7.jpg" alt="">
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            <span>Dedicated</span>
                            maid’s room with
                            attached bathroom
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="">
                    <div class="img">
                        <img src="./images/detail-highlight-8.jpg" alt="">
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            Multiple
                            <br/>storage rooms
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
