<section class="section section-hero section-hero-gallery">
    <div class="section-container" style="background-position: 0px 0px;">
        <div class="section-content">
            <div class="section-title">
                <div>
                    Gallery
                </div>
            </div>
        </div>

        <div class="hero-nav">
            <div class="hero-nav-content">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="1.%20MUSHRIF_VILLAGE_HOMEPAGE.html">HOME</a></li>
                        <li>Gallery</li>
                    </ul>
                </div>

                <div class="controls">
                    <a href="#searchForm" data-toggle="collapse" class="button button-find">FIND YOUR VILLA</a>
                </div>
            </div>

        </div>
    </div>
</section>