<section class="section section-hero section-hero-urban">
    <div class="section-container" style="background: url(assets/images/hero-urban.jpg) 0px 0px / cover no-repeat;">
        <div class="section-content">
            <div class="section-title">
                <div>
                    THE URBAN OASIS
                </div>
            </div>
        </div>

        <div class="hero-nav">
            <div class="hero-nav-content">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="1.%20MUSHRIF_VILLAGE_HOMEPAGE.html">HOME</a></li>
                        <li>THE urban oasis</li>
                    </ul>
                </div>

                <div class="controls">
                    <a href="#searchForm" data-toggle="collapse" class="button button-find">FIND YOUR VILLA</a>
                </div>
            </div>

        </div>
    </div>
</section>