<section class="section section-detail-description">
    <div class="section-container">
        <div class="section-content">

            <div class="section-title">4 Bedroom Semi-detached Villa with maid’s room</div>

            <div class="section-subtitle">Type A</div>

            <div class="section-description">
                <div class="row">
                    <div class="col-md-6">
                        <p>One of the community’s most sought after villas, V 4A is a stunning four bedroom graciously sized residence. Reflecting the charm of a cosy Spanish cottage, the façade and the terracotta-tiled roof of the villas evokes the nostalgia of the unhurried Mediterranean life. Truly the best of both worlds, freshly built yet classically designed.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Among the wealth of elegant highlights are custom mouldings, polished porcelain tiles, marble vanity tops, granite kitchen counters and Kohler bathroom fittings. Large balconies and sun decks open up to views of the green spaces.</p>

                        <ul class="detail-info">
                            <li><span>Location:</span> Next to the clubhouse, overlooking the parks</li>
                            <li><span>Rent:</span> AED 85,000, 4 cheques, 5% Agency Fees</li>
                            <li><span>Security Deposit:</span> 1 month net rent</li>
                        </ul>


                    </div>
                </div>






            </div>



        </div>
    </div>
</section>
