<section class="section section-hero section-hero-detail">
    <div class="section-container" style="background: url(&quot;./images/detail-image-hero.jpg&quot;) 0px 0px / cover no-repeat;">
        <div class="section-content">
            <div class="section-title">
                <div>
                    4 bedroom semi-detachedvilla with maid’s room
                </div>
            </div>
        </div>

        <div class="hero-nav">
            <div class="hero-nav-content">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">THE Villas</a></li>
                        <li>4 bedroom Villa</li>
                    </ul>
                </div>

                <div class="controls">
                    <a href="tel:(0)12345678900" class="button button-item button-call m-villa__btn--detail">call</a>
                    <a href="mailto:awesomemail@gmail.com" class="button button-item button-email m-villa__btn m-villa__btn--detail">Email</a>
                    <a href="#searchForm" data-toggle="collapse" class="button button-find">FIND YOUR VILLA</a>
                </div>
            </div>

        </div>
    </div>
</section>