<div class="container">
    <div class="row">
        <div class="col-sm-12">
            //= -list-item.html
        </div>
        <div class="col-sm-12">
            //= -list-item.html
        </div>
        <div class="col-sm-12">
            //= -list-item.html
        </div>
        <div class="col-sm-12">
            //= -list-item.html
        </div>
        <div class="col-sm-12">
            //= -list-item.html
        </div>
        <div class="col-sm-12">
            //= -list-item.html
        </div>
        <div class="col-sm-12">
            //= -list-item.html
        </div>
        <div class="col-sm-12">
            //= -list-item.html
        </div>
        <div class="col-sm-12">
            //= -list-item.html
        </div>
        <div class="col-sm-12">
            //= -list-item.html
        </div>
        <div class="col-sm-12">
            //= -list-item.html
        </div>
    </div>
</div>
