<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 welcome--padding">
      <div class="welcome__img">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="welcome--bg">
      <div class="container">
        <div class="row">
          <div class="welcome__wrap-letter clearfix">
            <div class="col-md-6 col-sm-12">
              <div class="welcome__line welcome__line--left"></div>
              <div class="welcome__about">
                Home is where love resides, memories are created, friends always belong and laughter never ends.

              </div>
              <div class="welcome__line welcome__line--rigth"></div>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-12">
              <div class="letter">
                <div class="letter--border">
                  <div class="letter__title">
                    Welcome Home
                  </div>
                  <div>
                    <div class="letter__paragraph">
                      Tucked away from the bustle of the city, yet well connected to the key shopping, lifestyle, entertainment, education and business districts, Mushrif Village in Mirdif is a serene urban oasis. Striking a balance between community living and excellent city
                      connectivity, Mushrif Village offers residents the best of both worlds.
                    </div>
                    <div class="letter__paragraph">
                      Drawing inspiration from the simplicity and warmth of Spanish architecture, Mushrif Village creates a friendly and cosy community, one you will cherish every day.
                    </div>
                  </div>
                  <div class="">
                    <div class="letter__arrow">
                      <a href="">
                        Find out More
                        <span>
                          <img src="./images/arrow-right.png" alt="arrow" class="letter__img">
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="weclome__title welcome__my-title">
              Featured Villa
            </div>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-sm-12 style-green">
                      <div class="col-md-6 col-sm-12" style="padding: 0">
                        <div class="featured-villa-image">
                          <a href="images/featured-villa-1.jpg" class="highlight-colorbox">
                            <img src="images/featured-villa-1.jpg" alt="" class="">
                          </a>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12" style="padding: 0">
                        <div class="featured-villa-description-container">
                          <div class="featured-villa-description clearfix">
                            <h3>4 Bedroom Semi-detached Villa with Maid’s Room <span> Type A</span></h3>
                            <p class="text">With 3645 sq.ft of versatile living space, this magnificent duplex villa will feel like home as soon as you step through the doors. Cascading chandeliers hanging from ceilings create quite a statement in the room and add a touch
                              of glamour.</p>
                            <a class="pull-right hidden-md hidden-lg" href="1.&#32;MUSHRIF_VILLAGE_HOMEPAGE.html#">FIND OUT MORE &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
                          </div>
                        </div>

                         <a class="slide-btn pull-right hidden-sm hidden-xs" href="1.&#32;MUSHRIF_VILLAGE_HOMEPAGE.html#">FIND OUT MORE &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                     
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="row">
                    <div class="col-sm-12 style-green">
                      <div class="col-md-6 col-sm-12" style="padding: 0">
                        <div class="featured-villa-image">
                          <a href="images/featured-villa-2.jpg" class="highlight-colorbox"><img src="images/featured-villa-2.jpg" alt=""></a>
                        </div>
                      </div>
                       <div class="col-md-6 col-sm-12" style="padding: 0">
                        <div class="featured-villa-description-container">
                          <div class="featured-villa-description clearfix">
                            <h3>4 Bedroom Semi-detached Villa with Maid’s Room <span> Type A</span></h3>
                            <p class="text">With 3645 sq.ft of versatile living space, this magnificent duplex villa will feel like home as soon as you step through the doors. Cascading chandeliers hanging from ceilings create quite a statement in the room and add a touch
                              of glamour.</p>
                            <a class="pull-right hidden-md hidden-lg" href="1.&#32;MUSHRIF_VILLAGE_HOMEPAGE.html#">FIND OUT MORE &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
                          </div>
                        </div>

                         <a class="slide-btn pull-right hidden-sm hidden-xs" href="1.&#32;MUSHRIF_VILLAGE_HOMEPAGE.html#">FIND OUT MORE &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
                      </div>
                      
                    </div>
                  </div>
                </div>

              </div>

              <a class="left-carousel" href="1.&#32;MUSHRIF_VILLAGE_HOMEPAGE.html#myCarousel" data-slide="prev">
                    <i class="fa fa-long-arrow-left"></i>
                </a>

              <a class="right-carousel" href="1.&#32;MUSHRIF_VILLAGE_HOMEPAGE.html#myCarousel" data-slide="next">
                    <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
          </div>


        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="welcome__footer">
            <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 welcome__glance--right col-xs-12">
              <div class="welcome__glance">
                At a glance
              </div>
            </div>
            <div class="col-sm-1 hidden-xs">
              <div class="welcome__glance">
                |
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
              <div class="welcome__bottom-text">
                Praesent non venenatis urna, eu sollicitudin nisi. Aenean ut scelerisque justo.
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="row">
        <div class="col-xs-12 plr-md-30">
          <div class="section section-at-a-glance">
            <div class="section-container">
                <div id="mapid"></div>
            </div>
            <a href="#" class="arrow-left"><i class="fa fa-long-arrow-left"></i></a>
            <a href="#" class="arrow-right"><i class="fa fa-long-arrow-right"></i></a>
            <a href="#" class="arrow-up"><i class="fa fa-long-arrow-up"></i></a>
            <a href="#" class="arrow-down"><i class="fa fa-long-arrow-down"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



