<section class="section section-search-form section-search-form-hp collapse in" id="searchForm">
    <div class="section-container">
        <div class="section-content">

            //= -search-form-filter.html

        </div>
    </div>
</section>
