<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="lease__title">
                4 Bedroom Semi-detached Villa with maid’s room
            </div>
            <div class="lease__subtitle">
                Type A | Corner Unit
            </div>
            <div class="lease__price">
                AED 380,000/annum
            </div>
            <ul class="villa-options-list">
                <li class="bedroom">
                    <span>4 Bedroom</span>
                </li>
                <li class="bathroom">
                    <span>2 Bathroom</span>
                </li>
                <li class="space">
                    <span>3780 Sq.Ft.</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="lease__description">
                One of the community’s most sought after villas,
                4A is a stunning four bedroom graciously sized
                residence. Reflecting the charm of a cosy Spanish
                cottage, the façade and the terracotta-tiled roof
                of the villas evokes the nostalgia of the unhurried
                Mediterranean life. Truly the best of both worlds,
                freshly built yet classically designed.
            </div>
            <ul class="lease__list">
                <li>
                    Next to the clubhouse, overlooking the parks
                </li>
                <li>
                    AED 85,000, 4 cheques, 5% agency fees
                </li>
                <li>
                    1 month rent as security deposit
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="lease__description lease__description--bold">
                Among the wealth of elegant highlights are custom mouldings,
                polished porcelain tiles, marble vanity tops, granite kitchen
                counters and Kohler bathroom fittings. Large balconies and
                sun decks open up to views of the green spaces.
            </div>
        </div>
    </div>
</div>
