

<section class="section section-hero section-hero-hp">

    <div class="section-container layer" data-depth="0.10">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="section-content" style="margin-top: 19%;">
                <div class="section-title">
                    VILLAS AT
                    <div>
                        MUSHRIF Village
                    </div>
                </div>
                <div class="section-description">
                    A green and luscious haven
                </div>

                <a href="#" class="button button-white">PRE-LEASING NOW OPEN!</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="section-background layer" data-depth="0.20">
      <img src="assets/images/hero-hp.jpg" alt="Hero">
    </div>
</section>
