<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="villadetail__section-title">Starting at AED 320,000</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="villadetail--style text-left">
                <div class="img"><img src="./images/proposal-1.jpg" alt="" class="img-responsive"></div>
                <div class="villadetail__subtitle">Corner Unit</div>
                <div class="villadetail__price">AED 390,000</div>
                <div class="buttons"><a href="8. MUSHRIF_VILLAGE_LEASENOW.html" class="button button-more">More</a></div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="villadetail--style text-left">
                <div class="img"><img src="./images/proposal-2.jpg" alt="" class="img-responsive"></div>
                <div class="villadetail__subtitle">Side Unit</div>
                <div class="villadetail__price">AED 360,000</div>
                <div class="buttons"><a href="8. MUSHRIF_VILLAGE_LEASENOW.html" class="button button-more">More</a></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="villadetail--style text-left">
                <div class="img"><img src="./images/proposal-3.jpg" alt="" class="img-responsive"></div>
                <div class="villadetail__subtitle">Centre Unit</div>
                <div class="villadetail__price">AED 320,000</div>
                <div class="buttons"><a href="8. MUSHRIF_VILLAGE_LEASENOW.html" class="button button-more">More</a></div>
            </div>
        </div>
    </div>
</div>

