<section class="section section-location-description">
    <div class="section-container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title">
                        The Location
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="section-description">
                        The olive tree reflects timeless Spanish traditions and is a symbol of peace, health, wealth and balance. As you drive into the community and through the magnificently designed gatehouse, you will be welcomed by emerald green olive trees, specially sourced from Spain, stretching out their branches.

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
