<section class="section section-search-form section-search-form-hp">
    <div class="section-container">
        <div class="section-content">

            <div class="section-title">Find Your Villa</div>

            //= -search-form.html

        </div>
    </div>
</section>
