<div class="contact-form--margin">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="">
                    <div class="contact-form-title">Get in Touch</div>

                    <div class="contact-form-description">
                        Please fill in your details and a member from the Mushrif Village team will be in contact with you shortly.
                    </div>

                    <div class="contact-form-wrapper">
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Contact Number">
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Nationality">
                        </div>
                        <div class="form-group">
                            <textarea name="" class="form-control" placeholder="How can we help?"></textarea>
                        </div>

                        <div class="buttons">
                            <button type="submit" class="button button-submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-12  col-xs-12">
                <div class="">
                    <div class="contact-form-title address">Address</div>

                    <div class="contact-form-addres">
                        +971 4 222 2200
                        <br />Al Khawaneej St,
                        <br />Alongside the Mushrif Park,
                        <br />Mirdif, Dubai - UAE
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

