<section class="section section-highlights ">
  <div class="section-container highlights--my-padding">
    <div class="section-content">

      <div class="row">
        <div class="col-lg-6 col-md-5 col-sm-8 col-sm-offset-2 col-lg-offset-0 col-md-offset-0 col-xs-12">
          <div class="highlights__title">HIGHLIGHTS </div>
          <div class="highlights__desc">
            Tree-lined pathways offer a cheerful welcome into the gated community and lend a sense of calm.
          </div>
        </div>
        <div class="col-lg-6 col-md-7 col-sm-8 col-sm-offset-2 col-lg-offset-0 col-md-offset-0 col-xs-12">
          <div class="highlights-list-wrapper">
            <ul class="highlights-list">
              <li>
                <img src="./images/highlights1.jpg" alt=""><span class="caption">Lorem ipsum dolor.</span>
              </li>
              <li>
                <img src="./images/highlights2.jpg" alt=""><span class="caption">Error, facilis, rerum!</span>
              </li>
              <li>
                <img src="./images/highlights3.jpg" alt=""><span class="caption">Laboriosam, qui suscipit!</span>
              </li>
              <li>
                <img src="./images/highlights4.jpg" alt=""><span class="caption">Fuga, odit, unde!</span>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>