<section class="section section-location-map">
    <div class="section-container">
        <div class="section-content">

            <ul class="location-tabs">
                <li role="presentation" class="active"><a href="#location" data-toggle="tab" role="tab">Location Map</a></li>
                <li role="presentation"><a href="#proximity" data-toggle="tab" role="tab">Proximity Map</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="location">
                    //= -location-map.html
                </div>
                <div class="tab-pane" role="tabpanel" id="proximity">
                    <!-- <div class="row"> -->
                        <!-- <div class="col-xs-12"> -->

                            <!-- <img src="assets/images/Proximity_map.jpg" alt="" class="img-responsive w-100"> -->
                            <!-- <div>123123123</div> -->
                            //= -proximity-map.html

                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>



        </div>
    </div>
</section>