<div class="container">
    <div class="row">
        <div class="gallery-list">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="">
                    <a href="./images/gallery-big-1.jpg" rel="album" class="gallery-colorbox" data-title="Gate House" data-description="The social hub of Mushrif Village">
                        <div class="img"><img src="./images/gallery-item1.jpg" alt=""></div>
                        <div class="caption">
                            <div class="title">Gate House</div>
                            <div class="description">The social hub of Mushrif Village</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="">
                    <a href="./images/gallery-big-2.jpg" rel="album" class="gallery-colorbox" data-title="Gate House" data-description="The social hub of Mushrif Village">
                        <div class="img"><img src="./images/gallery-item2.jpg" alt=""></div>
                        <div class="caption">
                            <div class="title">Gate House</div>
                            <div class="description">The social hub of Mushrif Village</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="">
                    <a href="./images/gallery-big-3.jpg" rel="album" class="gallery-colorbox" data-title="Gate House" data-description="The social hub of Mushrif Village">
                        <div class="img"><img src="./images/gallery-item3.jpg" alt=""></div>
                        <div class="caption">
                            <div class="title">Gate House</div>
                            <div class="description">The social hub of Mushrif Village</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="">
                    <a href="./images/gallery-big-2.jpg" rel="album" class="gallery-colorbox" data-title="Gate House" data-description="The social hub of Mushrif Village">
                        <div class="img"><img src="./images/gallery-item2.jpg" alt=""></div>
                        <div class="caption">
                            <div class="title">Gate House</div>
                            <div class="description">The social hub of Mushrif Village</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="">
                    <a href="./images/gallery-big-3.jpg" rel="album" class="gallery-colorbox" data-title="Gate House" data-description="The social hub of Mushrif Village">
                        <div class="img"><img src="./images/gallery-item1.jpg" alt=""></div>
                        <div class="caption">
                            <div class="title">Gate House</div>
                            <div class="description">The social hub of Mushrif Village</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="">
                    <a href="./images/gallery-big-2.jpg" rel="album" class="gallery-colorbox" data-title="Gate House" data-description="The social hub of Mushrif Village">
                        <div class="img"><img src="./images/gallery-item3.jpg" alt=""></div>
                        <div class="caption">
                            <div class="title">Gate House</div>
                            <div class="description">The social hub of Mushrif Village</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="">
                    <a href="./images/gallery-big-3.jpg" rel="album" class="gallery-colorbox" data-title="Gate House" data-description="The social hub of Mushrif Village">
                        <div class="img"><img src="./images/gallery-item2.jpg" alt=""></div>
                        <div class="caption">
                            <div class="title">Gate House</div>
                            <div class="description">The social hub of Mushrif Village</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="">
                    <a href="./images/gallery-big-1.jpg" rel="album" class="gallery-colorbox" data-title="Gate House" data-description="The social hub of Mushrif Village">
                        <div class="img"><img src="./images/gallery-item3.jpg" alt=""></div>
                        <div class="caption">
                            <div class="title">Gate House</div>
                            <div class="description">The social hub of Mushrif Village</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="">
                    <a href="./images/gallery-big-2.jpg" rel="album" class="gallery-colorbox" data-title="Gate House" data-description="The social hub of Mushrif Village">
                        <div class="img"><img src="./images/gallery-item1.jpg" alt=""></div>
                        <div class="caption">
                            <div class="title">Gate House</div>
                            <div class="description">The social hub of Mushrif Village</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="">
                    <a href="./images/gallery-big-3.jpg" rel="album" class="gallery-colorbox" data-title="Gate House" data-description="The social hub of Mushrif Village">
                        <div class="img"><img src="./images/gallery-item1.jpg" alt=""></div>
                        <div class="caption">
                            <div class="title">Gate House</div>
                            <div class="description">The social hub of Mushrif Village</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="">
                    <a href="./images/gallery-big-1.jpg" rel="album" class="gallery-colorbox" data-title="Gate House" data-description="The social hub of Mushrif Village">
                        <div class="img"><img src="./images/gallery-item3.jpg" alt=""></div>
                        <div class="caption">
                            <div class="title">Gate House</div>
                            <div class="description">The social hub of Mushrif Village</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 ">
                <div class="">
                    <a href="./images/gallery-big-2.jpg" rel="album" class="gallery-colorbox" data-title="Gate House" data-description="The social hub of Mushrif Village">
                        <div class="img"><img src="./images/gallery-item2.jpg" alt=""></div>
                        <div class="caption">
                            <div class="title">Gate House</div>
                            <div class="description">The social hub of Mushrif Village</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gallery-list--margin-b"></div>