<section class="section section-villas-list">
    <div class="section-container villa-list--padding villa-list--my-pad new-villa__container">
        <div class="section-content">

            <div class="section-description-wrapper">

                <div class="row">
                    <div class="col-md-6">
                        <div class="section-title villa-list__title">
                            Villas and townhouses
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="section-description">
                            <div class="content">Keeping your individual style in mind, the villas and townhouses are available in a light and dark colour scheme offering you the flexibility to furnish your home the way you desire. The 122 Spanish-style villas and townhouses, with terracotta-tiled roofs, have been fitted with contemporary and minimalistic interior details allowing you to add your own touch to your home. The layout of each home has been designed to optimise the flow of natural light into the room.</div>

                            <div class="claim">
                                Your family’s safety and security is our main priority, which is why CCTVs are installed in the public areas including the main entry and exit points, the Clubhouse and playgrounds. As an added security feature, each villa and townhouse is fitted with an intercom system on both levels.

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
      <div class="col-sm-12">
          <div class="featured new-villa__item">
            //= -featured-villa-item.html
          </div>
      </div>
    </div>
    <div class="row">
        <div class="">
            <div class="col-sm-6 col-xs-12">
                <div class="new-villa__item">
                    //= -villa-item.html
                </div>

            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="new-villa__item">
                    //= -villa-item.html
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="new-villa__item">
                    //= -villa-item.html
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="new-villa__item">
                    //= -villa-item.html
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="new-villa__item">
                    //= -villa-item.html
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="new-villa__item">
                    //= -villa-item.html
                </div>
            </div>
        </div>
    </div>
</div>
