<section class="section section-detail-page-separator">
    <div class="section-container" style="background: url(./images/detail-page-separator-image.jpg) 50% 0 no-repeat;  -webkit-background-size: cover;background-size: cover; background-attachment: fixed;">
    </div>
</section>
