<div class="villa-item">
    <div class="villa-item-inner">
        <a href="5. MUSHRIF_VILLAGE_VILLADETAIL.html">
            <div class="img">
                <img src="./images/villa1.jpg" alt="">
            </div>
            <span class="caption">
                4 Bedroom Semi-detached Villa with Maid’s Room
                <div class="type">
                    Type A
                </div>
            </span>
        </a>
    </div>
</div>